{% extends 'base_layout.html' %}

{% block content %}
<div class="container">
    <div class="columns is-centered is-vcentered" style="height: 70vh">
        <div class="column is-5">
            <div class="box has-text-centered">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == 'rating' %}
                    <div class="select is-fullwidth mb-4">
                        <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% else %}
                    <div class="field">
                        <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="mt-6">
                        <button class="button is-success">Сохранить</button>
                        <a href="{% url 'app:product' review.product.pk %}" class="button is-warning">
                            Назад
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}