{% extends 'base_layout.html' %} {% block content %}
<section class="section product-detail">
  <div class="columns">
    <div class="column">
      <div class="box">
        <figure class="image is-4by3">
          <img src="{{product.image.url}}" alt="" />
        </figure>
      </div>
    </div>
    <div class="column is-flex is-flex-direction-column is-justify-content-space-evenly">
      <div>
        <div class="title">
          {{product.title}}
          {% if product.discount %}
          <span class="tag is-danger is-medium">Скидка {{ product.discount }}%</span>
          {% endif %}
        </div>
        <div class="subtitle is-flex mt-4">
          <span class="mr-6">0 отзывов</span>
          <span class="is-size-4 mx-3">
            <a href="#">
              <ion-icon name="logo-whatsapp" class="order"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-youtube" class="order"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-github" class="order"></ion-icon>
            </a>
          </span>
        </div>
      </div>
      <div class="columns is-vcentered">
        <div class="column is-7">
          <div class="message">
            <div class="message-body">
              <div class="title is-5 my-3">Характеристики</div>
              {{ product.description }}
            </div>
          </div>
        </div>
        <div class="column has-text-centered">
          <div class="message">
            <div class="message-body">
              <div class="title is-4">
                {% if product.discount %}
                <div class="has-text-danger is-size-4">{{ product.discoint_price }}</div>
                <del class="has-text-grey-light is-size-6">{{ product.price }}</del>
                {% else %}
                {{ product.discoint_price }}
                {% endif %}
              </div>
              <div class="buttons is-centered">
                <a class="button is-small is-info" href="{% url 'app:add_to_cart' product.pk %}">
                  <ion-icon name="cart"></ion-icon>
                </a>
                {% if user not in product.favorite.all %}
                <a class="button is-small is-danger is-light"
                  href="{% url 'app:add_to_favorite' product.pk %}?path={{ request.path }}">
                  <ion-icon name="heart-outline"></ion-icon>
                </a>
                {% else %}
                <a class="button is-small is-danger"
                  href="{% url 'app:add_to_favorite' product.pk %}?path={{ request.path }}">
                  <ion-icon name="heart"></ion-icon>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      {% if field.name == 'rating' %}
      <div class="field">
        <div class="select is-fullwidth mb-4">
          <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
          {{field}}
        </div>
      </div>
      {% else %}
      <div class="field">
        <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
        {{field}}
      </div>
      {% endif %}
      {% endfor %}
      <div class="mt-6 is-flex is-justify-content-space-between ">
        <div class="">
          <button class="button is-success">Отправить</button>
          <button class="button is-warning" type="reset">Очистить</button>
        </div>
        <div class="">
          <a class="button  is-small {% if ordered_by == '-date_created' %}is-primary{% endif %}"
            href="{% url 'app:product' product.pk %}?ordered_by=-date_created">
            Новые
          </a>
          <a class="button  is-small {% if ordered_by == 'rating' %}is-primary{% endif %}" type="reset"
            href="{% url 'app:product' product.pk %}?ordered_by=rating">
            С низкой оценкой
          </a>
          <a class="button  is-small {% if ordered_by == '-rating' %}is-primary{% endif %}" type="reset"
            href="{% url 'app:product' product.pk %}?ordered_by=-rating">
            С высокой оценкой
          </a>
        </div>
      </div>
    </form>
    <div class="content">
      <div class="title is-3 has-text-centered">{{ reviews.count }} отзывов</div>
      <div class="columns is-multiline is-centered mt-6">
        {% for review in reviews %}
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png" alt="">
                  </figure>
                </div>
                <div class="media-content is-flex is-justify-content-space-between">
                  <div>
                    <div class="title is-5">
                      {% if review.user.first_name and review.user.last_name %}
                      {{review.user.first_name}} {{review.user.last_name}}
                      {% else %}
                      Аноним
                      {% endif %}
                    </div>
                  </div>
                  {% if user == review.user %}
                  <div class="buttons">
                    <a href="{% url 'app:edit_review' review.pk %}" class="button is-small is-info">
                      <ion-icon name="create"></ion-icon>
                    </a>
                    <a href="{% url 'app:delete_review' review.pk %}" class="button is-small is-danger">
                      <ion-icon name="trash"></ion-icon>
                    </a>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="content">
                <div>
                  <span class="text">
                    {{review.rating}}/5
                  </span>
                  <ion-icon name="star" class="has-text-warning"></ion-icon>
                  <span class="mx-2 has-text-grey-light">{{review.date_created|date:"d.m.Y"}}</span>
                </div>
              </div>
              <figure class="image is-48x48 ">
                {% if review.photo %}
                <a href="{% url 'app:show_review' review.pk %}">
                  <img src="{{review.photo.url}}" alt="">
                </a>
                {% endif %}
              </figure>
              <div class="subtitle has-text-grey">
                {{review.text}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}